<mat-toolbar color="primary">
    <a [routerLink]="['/home']" routerLinkActive="active" mat-button class="toolBar">Home</a>
    <a *ngIf="admin" [routerLink]="['/usuario']" routerLinkActive="active" mat-button class="toolBar">Usuarios</a>
    <a *ngIf="isLoggedMenu" [routerLink]="['/cliente']" routerLinkActive="active" mat-button class="toolBar">Clientes</a>
    <a *ngIf="admin" [routerLink]="['/producto']" routerLinkActive="active" mat-button class="toolBar">Productos</a>
    <a *ngIf="isLoggedMenu" [routerLink]="['/facturacion']" routerLinkActive="active" mat-button class="toolBar">Facturacion</a>
    <span class="fill-reaming-space"></span>
    <a *ngIf="!isLoggedMenu" routerLink="/login" routerLinkActive="active" class="toolBar">Login</a>
    <a mat-button *ngIf="isLoggedMenu" class="toolBar" aria-disabled="true">{{authoritie}}</a>
    <a mat-button *ngIf="isLoggedMenu" (click)="logOut()" class="toolBar">Cerrar Sesión</a>
  </mat-toolbar>