<h1  class="mat-dialog">{{ producto != null ? 'Editar Producto' : 'Registro De Producto'}}</h1>
<br>
<div mat-dialog-content class="mat-dialog">

    <mat-form-field class="mat-form">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" [(ngModel)]="nombre" required>
    </mat-form-field>
    <br>
    <mat-form-field class="mat-form" >
        <mat-label>Estado del Producto</mat-label>
        <input matInput type="text" [(ngModel)]="estado" required>
    </mat-form-field>
    <br>
    <mat-form-field class="mat-form" >
        <mat-label>Valor Unitario</mat-label>
        <input matInput type="text" [(ngModel)]="valor_unitario" required>
    </mat-form-field>
</div>

<div mat-dialog-actions class="mat-dialog">
    <button mat-button matDialogClose color="danger" (click)="cerrarDialog()">Cancelar</button>
    <button mat-button color="primary" (click)="producto != null ? updateProducto() : newProducto()">{{producto != null ? 'Actualizar' : 'Registrar'}}</button>
</div>
