<div class="container" width="100%" height="80%">
    <h1 mat-dialog-title></h1>
        
    <div mat-dialog-actions>
        <button mat-button cdkFocusInitial [mat-dialog-close]="false">Cancelar</button>
    </div>
</div>