<div class="container">
    <h1 mat-dialog-title>Eliminar</h1>
    <div mat-dialog-content>
        <h3>¿Esta seguro de eliminar?</h3>
    </div>
    <div mat-dialog-actions>
        <button mat-button cdkFocusInitial [mat-dialog-close]="false">Cancelar</button>
        <button mat-button [mat-dialog-close]="true" color="primary">Eliminar</button>
    </div>
</div>