<div class="container">
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content>
        <h3>¿Cuantas unidades agregara al carrito?</h3>
        <mat-form-field>
            <mat-label>Unidades</mat-label>
            <input matInput type="number" value="" [(ngModel)]="facturaDetalle.cantidad" required>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button cdkFocusInitial [mat-dialog-close]="false">Cancelar</button>
        <button mat-button ="true" color="primary" (click)="createFacturaDetalleTemporal()">Agregar al carrito</button>
    </div>
</div>