<app-menu></app-menu>
<h1>Listado de Usuarios</h1>

<div class="container"> 
    <div>
        <a  mat-button color="primary" (click)="openNewDialog()">Nuevo Usuario</a>
        <table mat-table [dataSource]="usuarios" class="mat-elevation-z4 ">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef>Apellido</th>
                <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
            </ng-container>

            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let element">{{ element.usuario }}</td>
            </ng-container>

            <ng-container matColumnDef="perfil">
                <th mat-header-cell *matHeaderCellDef>Perfil</th>
                <td mat-cell *matCellDef="let element">{{ element.perfil.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="openEdit(element)" mat-button color="primary">Editar</button>
                    <button (click)="openDelete(element.id)" mat-button color="warning">Eliminar</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas"></tr>
        </table>
    </div>
</div>