<h1  class="mat-dialog">{{ cliente != null ? 'Editar Cliente' : 'Registro De Cliente'}}</h1>
<br>
<div mat-dialog-content class="mat-dialog">

    <mat-form-field class="mat-form">
        <mat-label>Identificacion</mat-label>
        <input matInput type="number" [(ngModel)]="identificacion" required>
    </mat-form-field>
    <br>
    <mat-form-field class="mat-form" >
        <mat-label>Razon Social</mat-label>
        <input matInput type="text" [(ngModel)]="razon_social" required>
    </mat-form-field>
    <br>
    <mat-form-field class="mat-form" >
        <mat-label>Estado</mat-label>
        <input matInput type="text" [(ngModel)]="estado" required>
    </mat-form-field>
    <br>
    <mat-form-field class="mat-form" >
        <mat-label>Tipo Identificacion</mat-label>
        <select matNativeControl [(ngModel)]="id_tipo" name="tipo" required>
          <option value="0" selected>ELIGE UN TIPO</option>
          <option *ngFor="let item of tipos" [value]="item.id">
            {{item.abreviatura}}
          </option>
        </select>
      </mat-form-field>
</div>

<div mat-dialog-actions class="mat-dialog">
    <button mat-button matDialogClose color="danger" (click)="cerrarDialog()">Cancelar</button>
    <button mat-button color="primary" (click)="cliente != null ? updateCliente() : newCliente()">{{cliente != null ? 'Actualizar' : 'Registrar'}}</button>
</div>