<h1  class="mat-dialog">Registro De Usuario</h1>
<br>
<div mat-dialog-content class="mat-dialog">
        <mat-form-field class="mat-form">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="nombre" required>
        </mat-form-field>
        <br>
        <mat-form-field class="mat-form" >
            <mat-label>Apellido</mat-label>
            <input matInput type="text" [(ngModel)]="apellido">
        </mat-form-field>
        <br>
        <mat-form-field class="mat-form" >
            <mat-label>Usuario</mat-label>
            <input matInput type="text" [(ngModel)]="usuario" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>PERFIL</mat-label>
            <select matNativeControl [(ngModel)]="id_perfil" required>
              <option value="0" selected>ELIGE UN PERFIL</option>
              <option *ngFor="let item of perfiles" [value]="item.id">
                {{item.nombre}}
              </option>
            </select>
        </mat-form-field>
        <br>
        <mat-form-field class="mat-form" >
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" [(ngModel)]="contrasena" required>
        </mat-form-field>
</div>

<div mat-dialog-actions class="mat-dialog">
    <button mat-button matDialogClose color="danger" (click)="cerrarDialog()">Cancelar</button>
    <button mat-button color="primary" (click)="newUsuario()">Registrar</button>
</div>
