<app-menu></app-menu>
<h1>Listado de Productos</h1>
<div class="container">
    <a  mat-button color="primary" (click)="openNewDialog()">Nuevo Producto</a>
    <table mat-table [dataSource]="productos" class="mat-elevation-z4">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="valor_unitario">
            <th mat-header-cell *matHeaderCellDef>Valor Unitario</th>
            <td mat-cell *matCellDef="let element">{{ element.valorUnitario }}</td>
        </ng-container>
 
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="openEdit(element)" mat-button color="primary">Editar</button>
            <button (click)="openDelete(element.id)" mat-button color="warning">Eliminar</button>
        </td>
    </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
</div>