<app-menu></app-menu>
<div class="container">  
    <h1>Cliente</h1>

    <mat-accordion class="accordion">
        <mat-expansion-panel (opened)="panelOpenStateCliente = true"
                            (closed)="panelOpenStateCliente = false" (click)="getFacturaDetalleTemporal()">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Facturar a cliente con {{cliente_a_facturar ==null ? ' ' : cliente_a_facturar.idTipoIdentificacion.abreviatura}}: {{cliente_a_facturar ==null ? ' ' : cliente_a_facturar.identificacion }}
            </mat-panel-title>
            <mat-panel-description>
                {{cliente_a_facturar ==null ? 'Eliga un cliente' : 'Cliente elegido' }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        
            <div>
                <mat-form-field class="filtro">
                    <mat-label>TIPO DE ID</mat-label>
                    <select matNativeControl [(ngModel)]="id_tipo_filtro" name="tipo">
                    <option value="0" selected>ELIJA UN TIPO DE ID</option>
                    <option *ngFor="let item of tipos" [value]="item.id">
                        {{item.abreviatura}}
                    </option>
                    </select>
                </mat-form-field>
                <mat-form-field class="filtro">
                    <mat-label>IDENTIFICACION</mat-label>
                    <input matInput type="number" [(ngModel)]="identificacion_buscada">
                </mat-form-field>
                <button mat-button color="primary" (click)="getClientesFiltrados(id_tipo_filtro,identificacion_buscada)">FILTRAR</button>
                <button mat-button color="prinary" (click)="limpiarFiltroCliente()">LIMPIAR FILTRO</button>
            </div>
            <div>
                <table mat-table [dataSource]="clientes" class="mat-elevation-z4 ">
        
                    <ng-container matColumnDef="tipo_identificacion">
                        <th mat-header-cell *matHeaderCellDef>Tipo Identificacion</th>
                        <td mat-cell *matCellDef="let element">{{ element.idTipoIdentificacion.abreviatura  }}</td>
                    </ng-container>
            
            
                    <ng-container matColumnDef="identificacion">
                        <th mat-header-cell *matHeaderCellDef>Identificacion</th>
                        <td mat-cell *matCellDef="let element">{{ element.identificacion }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="razon_social">
                        <th mat-header-cell *matHeaderCellDef>Razon Social</th>
                        <td mat-cell *matCellDef="let element">{{ element.razonSocial }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="Seleccionar(element)" mat-button color="primary">Seleccionar</button>
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="colums"></tr>
                    <tr mat-row *matRowDef="let row; columns: colums"></tr>
                </table>
            </div>

        </mat-expansion-panel>
    </mat-accordion>

    <br><br>
    <h1>Carrito</h1>
    <mat-accordion class="accordion">
        <mat-expansion-panel (opened)="panelOpenStateCarrito = true"
                            (closed)="panelOpenStateCarrito = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Productos a Facturar por un total de:
            </mat-panel-title>
            <mat-panel-description>
                ${{total_Facturado}} {{panelOpenStateCarrito ? '' : ''}}
            </mat-panel-description>
        </mat-expansion-panel-header>
                <table mat-table [dataSource]="facturasDetalle" class="mat-elevation-z4 ">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>Codigo</th>
                        <td mat-cell *matCellDef="let element">{{ element.producto.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Producto</th>
                        <td mat-cell *matCellDef="let element">{{ element.producto.nombre }}</td>
                    </ng-container>

                    <ng-container matColumnDef="valor_unitario">
                        <th mat-header-cell *matHeaderCellDef>Valor Unitario</th>
                        <td mat-cell *matCellDef="let element">{{ element.producto.valorUnitario }}</td>
                    </ng-container>

                    <ng-container matColumnDef="unidades">
                        <th mat-header-cell *matHeaderCellDef>unidades</th>
                        <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef>total</th>
                        <td mat-cell *matCellDef="let element">{{ element.total }}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button  mat-button color="primary" (click)="deleteCarrito(element.id)">Eliminar del Carrito</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="carritoColumnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: carritoColumnas"></tr>
                </table>
        </mat-expansion-panel>
    </mat-accordion>
    <div>
        <button mat-button (click)="limpiarCarrito()">VACIAR CARRITO</button>
        <button mat-button color="primary" (click)="facturar()">FACTURAR</button> 
    </div>
    <br><br>
    <div class="containerProductos">
        <h1>Productos</h1>

        <div>
            <mat-form-field class="filtro">
                <mat-label>CODIGO DE PRODUCTO</mat-label>
                <input matInput type="number" [(ngModel)]="idProductoFiltrado">
            </mat-form-field>
            <button mat-button color="primary" (click)="getProductosFiltrados(idProductoFiltrado)">FILTRAR</button>
            <button mat-button color="prinary" (click)="limpiarFiltroProducto()">LIMPIAR FILTRO</button>
        </div>

        <table mat-table [dataSource]="productos" class="mat-elevation-z4 ">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Codigo</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Producto</th>
                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="valor_unitario">
                <th mat-header-cell *matHeaderCellDef>Valor Unitario</th>
                <td mat-cell *matCellDef="let element">{{ element.valorUnitario }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="addCarrito(element)" mat-button color="primary">Agregar Al Carrito</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas"></tr>
        </table>
    </div>
    <br>   

</div>
<br><br>
