<app-menu></app-menu>
<h1>Listado De Clientes</h1>
<div class="container"> 
    <div>
        <a *ngIf="admin" mat-button color="primary" (click)="openNewDialog()">Nuevo Cliente</a>
        <span class="fill-reaming-space"></span>
        <mat-form-field class="filtro">
            <mat-label>TIPO DE ID</mat-label>
            <select matNativeControl [(ngModel)]="id_tipo_filtro" name="tipo">
              <option value="0" selected>ELIJA UN TIPO DE ID</option>
              <option *ngFor="let item of tipos" [value]="item.id">
                {{ item.abreviatura }}
              </option>
            </select>
        </mat-form-field>
          <mat-form-field class="filtro">
              <mat-label>IDENTIFICACION</mat-label>
              <input matInput type="number" [(ngModel)]="identificacion_buscada">
          </mat-form-field>
        <button mat-button color="primary" (click)="getClientesFiltrados(id_tipo_filtro,identificacion_buscada)">FILTRAR</button>
        <button mat-button color="prinary" (click)="limpiarFiltro()">LIMPIAR FILTRO</button>
    </div>
    
    <table mat-table [dataSource]="clientes" class="mat-elevation-z4 ">
        
        <ng-container matColumnDef="tipo_identificacion">
            <th mat-header-cell *matHeaderCellDef>Tipo Identificacion</th>
            <td mat-cell *matCellDef="let element">{{ element.idTipoIdentificacion.abreviatura  }}</td>
        </ng-container>


        <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef>Identificacion</th>
            <td mat-cell *matCellDef="let element">{{ element.identificacion }}</td>
        </ng-container>

        <ng-container matColumnDef="razon_social">
            <th mat-header-cell *matHeaderCellDef>Razon Social</th>
            <td mat-cell *matCellDef="let element">{{ element.razonSocial }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button *ngIf="admin" (click)="openEdit(element)" mat-button color="primary">Editar</button>
                <button *ngIf="admin" (click)="openDelete(element.id)" mat-button color="warning">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
</div>